.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: var(--sidebar-with);
  min-height: 100vh;
  background-color: green;

  @media (max-width: 768px) {
    display: none;
  }

  .wrapper {

    padding: 20px 10px;
  }
}
